<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/for_some_park/globals.css" />
    <link rel="stylesheet" href="../static/for_some_park/style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="frame-wrapper">
        <div class="div">
          <div class="div-2">
            <div class="group">
              <div class="overlap-group">
                <div class="text-wrapper">Parki</div>
                <img class="image" src="img/image-2.png" />
              </div>
            </div>
            <div class="navbar">
              <div class="text-wrapper-2">Projekt</div>
              <img class="line" src="img/line-1.svg" />
              <div class="text-wrapper-2">WIT</div>
              <img class="line" src="img/line-2.svg" />
              <div class="text-wrapper-2">Open map</div>
              <img class="line" src="img/line-3.svg" />
              <div class="text-wrapper-2">Szukaj</div>
            </div>
            <img class="img" src="img/image-3.png" />
          </div>
          <div class="div-wrapper">
            <div class="div-3">
              <div class="div-wrapper-2"><div class="text-wrapper-3">Znaleziono 1 park</div></div>
              <div class="div-4">
                <img class="image-2" src="img/image-4.png" />
                <div class="div-5">
                  <div class="div-2">
                    <div class="text-wrapper-4">Nazwa</div>
                    <div class="text-wrapper-5">Arkadia</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-4">Polozenie</div>
                    <p class="p">Dzielnica Mokotów, pomiędzy ulicami Puławską, Żywnego, Piaseczyńską i Idzikowskiego</p>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-4">Powierzchnia</div>
                    <div class="text-wrapper-5">ok. 11 ha</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-4">Atrakcji</div>
                    <p class="p">stawy parkowe, muzeum im. Xawerego Dunikowskiego w Pałacu Królikarnia, plac zabaw</p>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-4">Ocena</div>
                    <div class="text-wrapper-5">4.5 gwiazdy</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
