{% extends 'base.html' %}
{% block div %}
<div class="div-wrapper">
    <div class="div-3">
        <div class="div-wrapper-2"><div class="text-wrapper-4">Wszystkie parki</div></div>
        <div class="div-4">
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Arkadia</div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/DSC07205.JPG/a49ffb79-a927-4f87-fd79-b73dc45deffb?version=1.0&t=1634498793296&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Marszałka Edwarda Rydza-Śmigłego</div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/ffPC260367.JPG/a06dd6fc-8d34-8861-1d25-cf2b22ca512e?version=1.0&t=1634498793229&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Kazimierzowski</div></div>
                <img class="image-2" src=https://eko.um.warszawa.pl/documents/63448/8314925/Park_Kazimierzowski_2016-003.jpg/e5281c15-642e-0060-6ae5-e6179bcd889b?version=1.0&t=1634498793180&imagePreview=1 />
            </div>
        </div>
        <div class="div-4">
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Znicza
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/Znicza_2.jpg/561c2100-8285-48a7-a253-2f3f625bfb7f?version=1.0&t=1634498793118&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Żeromskiego
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/PC120034.JPG/abae4f46-e8f9-1300-4d92-ccca470ee288?version=1.0&t=1634498793165&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Sowińskiego
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/DSC08612a_0.JPG/1e6ea30f-77f8-4066-f503-c7dec4d01cd3?version=1.0&t=1634498792181&imagePreview=1" />
            </div>
        </div>
        <div class="div-4">
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Morskie Oko
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/Morskie_Oko.2JPG.JPG/bbda13fa-966f-294a-deec-31a7721de699?version=1.0&t=1634498792067&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park Kombatantów
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/DSC07465.aaJPG_.JPG/18fb59e4-7f51-4774-c0cf-fe4902786791?version=1.0&t=1634498790676&imagePreview=1" />
            </div>
            <div class="div-5">
                <div class="div-wrapper-3"><div class="text-wrapper-5">Park im. Szczubełka
                </div></div>
                <img class="image-2" src="https://eko.um.warszawa.pl/documents/63448/8314925/Prk_Szczubelka.JPG/b095420c-853d-32ed-3483-893bac7869aa?version=1.0&t=1634498790539&imagePreview=1" />
            </div>
        </div>
    </div>
</div>
{% endblock %}